<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <center>
    <h4>HELMET DETECTION</h4>
    <hr>
    </center>
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/"><i class="fa fa-home"></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/result"><i class="fa fa-square-o"></i> Detection Result</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload"><i class="fa fa-picture-o"></i> Image Detection</a>
            </li>
            
        </ul>
    </div>
</nav>